@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Poppins&display=swap");

body {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  text-align: center;
  color: #E1D9D1;
  background-color: rgb(17, 17, 34);
}

.among {
  cursor: pointer;
  margin: auto;
  padding: 10px;
  width: 250px;
  border-radius: 6.5px;
  transition-duration: 0.4s;
}

.among:hover {
  background-color: rgb(37, 37, 54);
}
